---
import { getLiveEntry } from 'astro:content';

export const prerender = false;

Astro.cache.set({
  maxAge: 60 * 60,
  tags: ['wp-test'],
});

const result = await getLiveEntry('works', '4225');

if (result.error) {
  throw result.error;
}

const work = result.entry;

if (!work) {
  throw new Error('No works found');
}

const generatedAt = new Date().toISOString();
const randomValue = Math.random();
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>WordPress Live Collection Route Cache Test</title>
  </head>

  <body>
    <main>
      <h1>WordPress Live Collection Route Cache Test</h1>
      <p>Content:</p>
      <div set:html={work.data.acf.content} />

      <p>Work ID: {work.data.id}</p>
      <p>Slug: {work.data.slug}</p>
      <p>Title: {work.data.title.rendered}</p>
      <p>Published: {work.data.date.toString()}</p>
      <p>Modified: {work.data.modified.toString()}</p>

      <hr />

      <p>Generated At: {generatedAt}</p>
      <p>Random Value: {randomValue}</p>
    </main>
  </body>
</html>